# Ignore environment and secrets
.env
*.env

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.venv/


# OS metadata
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/
